.card {
    // background-color: gray;
    padding: 5rem;
    margin-top: 6rem;
    font-size: var(--font-size);

    @media screen and (min-width: 20em) {
        padding: 0;
        margin-top: 8rem;
    }

    @media screen and (min-width: 75em) {
        padding: 6rem; 
        margin-top: 2rem;
    }

    &__loading{
        background-color: white;
        width: 7%;
        top: 50%;
        left: 50%;
        position: absolute;
        z-index: 5000;
        transform: translate(-50%, -50%);
        opacity: .5;
    }
    &__display-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    & a {
        width: 20%;
        text-decoration: none;
        color: rgb(10, 10, 10);
        margin-right: 2rem;
        border: 1px solid gray;
        transition: all .2s;

        &:hover{
            transform: translateY(-1px);
            box-shadow: 0rem 1rem 4rem rgba(0,0,0,0.1);
        }
   

    @media screen and (min-width: 20em) {
        width: 100%;
        margin-right: 0rem;
        margin: 1rem;
    }
    @media screen and (min-width: 75em) {
        width: 20%;
        margin-right: 2rem;
    }
    }

    &__all {
        margin-bottom: 2rem;
        margin-right: 1rem;
        border: 1px solid white;

        
        @media screen and (min-width: 20em) {
            margin-right: 0rem;
        }
        @media screen and (min-width: 75em) {
            margin-right: 1rem;
        } 

        
    }

    &__head {
        width: 100%;
        margin: 0;

        & img {
            width: 100%;
            aspect-ratio: 3/2;
            object-fit: cover;
        }
        // @media screen and (min-width: 20em) {
        //     width: 10rem;
        // }
        // @media screen and (min-width: 75em) {
        //     width: 24.5rem;
        // } 
    }

    &__body {
        width: 100%;
        padding: 1rem;
    }
}