.form {
    &__section {
        width: 70%;
        margin: 15rem auto;
        // border: 1px solid red;
        font-size: 1.6rem;
    }

    & form {
        background-color: rgb(176, 189, 176);
        border-radius: 10px;

        &>p {
            color: white;
            text-align: center;
            font-size: 1.6rem;
            text-transform: capitalize;
            font-weight: 700;
            padding-top: 1rem;
        }
    }
    &__input {
        background-color: white;
        min-width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(19, 18, 18);
        padding: .7rem;
        font-size: 1.4rem;
        border-radius: 5px;

        &--expirydate {
            width: 50%;
        }
    }

    &__expiry {

        display: flex;


    }

    &__container {
        padding: .5rem 2rem;
        &--one {
            width: 50%;
        }
    }


    & button {
        font-size: 2rem;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        margin-left: 3rem;
        // border: 1px solid white;
        border-radius: 7px;
        padding: .5rem 4rem;
        background-color: gray;
        margin-bottom: 1rem;
        margin-top: 1rem;

        &:hover {
            background-color: rgb(196, 180, 180);
        }

        &:active {
            background-color: rgb(196, 180, 180);
        }
    }

}