.card {
    margin: 10rem 8rem 3rem 8rem;

    @media screen and (min-width: 20em) {
        display: block;
        margin: 10rem 1rem 3rem 1rem;
        
    }
    @media screen and (min-width: 75em) {
        display: flex;
        margin: 10rem 8rem 3rem 8rem;
       
    }

    &__all {
        display: flex;
        @media screen and (min-width: 20em) {
            display: block;
            
        }
        @media screen and (min-width: 75em) {
            display: flex;
           
        }
    }
    
    &__loading {
        background-color: white;
        width: 7%;
        top: 20rem;
        left: 50%;
        position: absolute;
        z-index: 5000;
        transform: translate(-50%, -50%);
        opacity: .5;
    }

    &__head {
       
        margin-left: 10rem;
        border-radius: 8px;
        width: 30%;
        overflow: hidden;
        box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
        @media screen and (min-width: 20em) {
            width: 95%;
            margin: 1rem;
        }
        @media screen and (min-width: 75em) {
            width: 30%;
            margin-left: 10rem;
        }

        & img {
            width: 100%;
            //  border: 1px solid green;
        }
    }

    &__display-flex {

        & a {
            text-decoration: none;
        }
    }

    &__body {
        margin-left: 15rem;
        font-size: 2rem;
        // border: 1px solid green;
        line-height: 1.5;
        width: 50%;
        @media screen and (min-width: 20em) {
           
            width: 95%;
            margin: 1rem;
        }
        @media screen and (min-width: 75em) {
            width: 50%;
            margin-left: 15rem;
        }
    }

    &__button {
        display: flex;
        // margin-top: 8rem;
        border: none;
        margin: 3rem;
        

        @media screen and (min-width: 20em) {
            font-size: 1.5rem;
            gap: 1rem;
            margin: 1rem;
        }
        @media screen and (min-width: 75em) {
            display: flex;
            border: none;
            margin: 3rem;
        }

    }

    &__btn {
        padding: 1.5rem 2rem;
        outline: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: all .2s;

        @media screen and (min-width: 20em) {
            padding: 1rem 1.5rem;
        }
        @media screen and (min-width: 75em) {
            padding: 1.5rem 2rem;
            outline: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: all .2s;
        }
    }

    &__btn--one {
        margin-right: auto;
        background-color: rgb(236, 197, 125);

        &:hover {
            background-color: rgb(221, 169, 72);
        }
    }

    &__btn--two {
        background-color: rgb(163, 145, 145);

        &:hover {
            background-color: rgb(150, 136, 112);
        }
    }

}